[submodule "src/files/vendor/reveal.js"]
	path = src/files/vendor/reveal.js
	url = git://github.com/hakimel/reveal.js.git
[submodule "src/files/vendor/codemirror2"]
	path = src/files/vendor/codemirror2
	url = git://github.com/marijnh/CodeMirror2.git
[submodule "src/files/vendor/presenterview"]
	path = src/files/vendor/presenterview
	url = git://github.com/stvnwrgs/presenterview.git
