body {
  background: #0073ac url(template-bg.png) no-repeat fixed center top;
  padding: 0;
}

.deck-container {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1.75em;
  width: auto;
  max-width: 960px;
  min-height: 474px;
  margin: 195px auto 50px auto;
  padding: 0;
}
.deck-container .slide {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px, 4px, 10px, black;
  -moz-box-shadow: 4px, 4px, 10px, black;
  box-shadow: 4px, 4px, 10px, black;
}
.deck-container .slide h1, .deck-container .slide h2 {
  border: none;
}
.deck-container .slide h1 {
  color: #0073ac;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  /* */
  text-transform: uppercase;
  text-shadow: -1px 3px 0px #104877;
  margin: 0px 2em;
}
.deck-container .slide h2 {
  color: #0073ac;
  line-height: 100%;
  padding: 10px;
  margin: 0 0 0.5em 0;
  font-family: 'Ubuntu',Arial,sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  text-shadow: -1px 3px 0px #104877;
}
.deck-container .slide h3 {
  color: #0073ac;
  font-family: 'Ubuntu',Arial,sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}
.deck-container .slide .below {
  position: absolute;
  bottom: 0px;
}
.deck-container .slide img .bordered {
  -webkit-box-shadow: -2px 2px 0px #104877;
  -moz-box-shadow: -2px 2px 0px #104877;
  box-shadow: -2px 2px 0px #104877;
  border-color: #0073AC;
  border-width: 2px;
  border-style: solid;
}
.deck-container .slide object {
  border-color: #0073AC;
  border-width: 2px;
  border-style: solid;
  height: 100%;
  -webkit-box-shadow: -2px 2px 0px #104877;
  -moz-box-shadow: -2px 2px 0px #104877;
  box-shadow: -2px 2px 0px #104877;
}
.deck-container .slide pre, .deck-container .slide code {
  font-family: "Inconsolata", monospace;
  font-size: 0.65em;
}
.deck-container .slide pre {
  border-color: #104877;
}
.deck-container .slide code {
  color: #888;
}
.deck-container .slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container .slide ::-moz-selection, .deck-container .slide ::selection {
  background: #0073ac;
  color: #fff;
}
.deck-container .slide a {
  color: #0073ac;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #0073ac;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  text-decoration: underline;
}
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  opacity: 0.4;
}
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: rgba(204, 204, 204, 0.5);
  font-family: serif;
}
.deck-container .deck-prev-link {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited {
  color: #fff;
}
.deck-container .deck-next-link {
  color: #fff;
}
.deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus {
  background: rgba(0, 115, 172, 0.5);
  text-decoration: none;
}
.deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: rgba(0, 115, 172, 0.5);
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current {
  background: #ddf;
}

.no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}

/* CodeMirror Specific */
.deck-container .slide .deck-codemirror-result,
.deck-container .slide .CodeMirror {
  border-color: #0073AC;
  border-width: 2px;
  background-color: white;
  -webkit-box-shadow: -2px 2px 0px #104877;
  -moz-box-shadow: -2px 2px 0px #104877;
  box-shadow: -2px 2px 0px #104877;
}
.deck-container .slide .CodeMirror-gutter {
  background-color: inherit;
}
