---
layout: 'deck'
title: 'Backbone Development with Drupal'
---
// TODO: add funny pictures and jokes
section.slide
  h1 Using the Drupal Backbone Module
  div.below Ethan Winn - ethanw/@eethann/ethan@echoditto.com
section.slide
  h1 Do not forget the enemy:
section.slide
  h2 Spagetti Code!
  img(src="images/spaghetti-js.png")
  p (TODO: insert attribution)
section.slide
  h1 Backbone Can Help
// section.slide
//   h1 Backbone and Drupal are TOTTALLY BFFs!
section.slide
  h2 Let's break it down
  //'
  img(src="http://i.chzbgr.com/completestore/2010/10/4/74506b4d-6ad6-47ed-a3b9-8f6c48c5cf07.jpg")
section.slide
  h1
    | 1. Requesting
    | 2. Rendering
    | 3. Responding
  // NOTE: this is the real threesome for Backbone, more than "MVC"
section.slide
  h1 1. Requesting
section.slide
  h2 Load a node!
  textarea#node-fetch-js.code(mode="javascript")
    include code/node-fetch.js
section.slide
  h2 Automatic Parsing
  h3 TODO
section.slide
  h2 Create a node &amp; save it:
  textarea.code#node-create-js(mode="javascript")
    include code/node-create.js
section.slide
  h2 ...and comments...
  textarea.code(mode="javascript")
    include code/comment-model-examples.js
section.slide
  h2 ...or users...
  textarea.code(mode="javascript")
    include code/user-model-examples.js
section.slide
  h2 ...or files, or flags, or...
section.slide
  h2 Behind the Scenes: Saving
  img(src="images/node-save-activity.png")
section.slide
  h2 Behind the Scenes: Loading
  img(src="images/node-load-activity.png")
section.slide
  h2 Backbone.sync can point to anything:
  object(data="images/Promiscuous Backbone Architecture.svg",type="image/svg+xml")
    img(src="images/Promiscuous Backbone Architecture.png")
section.slide
  h1 2. Rendering
section.slide
  h2 ...client-side!
section.slide
  h2 With a twig.js template
  textarea.code#node-display-twig(mode="jinja2")
    include code/node-display.twig.tpl.php
  p (handlebars or _.js also work)
section.slide
  h2 And a Backbone View:
  textarea.code#node-display-js(mode="javascript")
    include code/node-display.js
section.slide
  h2 Views can refresh automatically
  textarea.code#node-render-changes-js(mode="javascript")
    include code/node-render-changes.js
section.slide
  h1 3. Responding
section.slide
  h2 Backbone Views also handle User Events
section.slide
  h2 We just add a button to our node template
  textarea#event-binding-tpl.code(mode="jinja2", runnable="false")
    include code/collection-item-event-binding.twig.tpl.php
section.slide
  h2 And add a listener in our view
  textarea#collection-item-event-binding-js.code(mode="javascript")
    include code/collection-item-event-binding.js
section.slide
  h1 Plus: 4. Collections!!
section.slide
  img(src="images/load-all-the-nodes-q.png")
section.slide
  img(src="images/load-all-the-nodes-x.png")
section.slide
  h2 Load lots of nodes!
  h3 (via search!!!)
  textarea.code#collection-load-js(mode="javascript")
    include code/collection-load.js
section.slide
  h2 Other supported listing types
  ul
    li Views
    li Searches
    li Entity References (coming soon!)
section.slide
  h2 Rendering lots of nodes: the "Collection View" pattern
section.slide
  h2 Another simple template
  textarea.code(mode="jinja2")
    include code/collection-render.twig.tpl.php
section.slide
  h2 And a Backbone View
  textarea.code(mode="javascript")
    include code/collection-render.js
section.slide
  h2 Events automatically works in our collection view too!
section.slide
  h2 Backbone is all about delegation
section.slide
  h2 The Drupal Backbone Stack
  //object(data="images/Drupal Backbone App Structure.svg", type="image/svg+xml")
  img(src="images/Drupal Backbone App Structure.png")
section.slide
  h2 Setting up our Backbone Module
section.slide#callback
  h2 Menu Callback: App Path
  textarea.code#module-hook(mode="php")
    include code/module-callback.php
section.slide
  h2 Page Callback: Includes Backbone Lib and App JS
  textarea.code#module-inc(mode="php")
    include code/module-includes.php
  //TODO: dtermine is library should/can be included here
section.slide
  h2 Make a root element for our app
  textarea.code#module-root(mode="php")
    include code/module-root-element.php
section.slide
  h2 Use the theme layer for templates
  textarea.code#module-theme(mode="php")
    include code/module-theme.php
section.slide
  h2 Added advantage that we can use t()
  textarea.code#module-theme(mode="jinja2")
    include code/translation-example.twig.tpl.php
  // NOTE: w/ Twig server-side templates we may lose this awesome bit.  Sigh.
section.slide
  h2 And now for some demos
section.slide
  h2 Node promotion app: buttons
section.slide
  h2 Node promotion app: jQuery UI
section.slide
  h2 Comment moderation: keyboard shortcuts
